.form{
    margin: 35px;
    width: 450px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    width: 200px;
}

.table{
    height: 800px;
    overflow-y: auto;
    margin-top: 60px;
}

.boocking{
    display: flex;
    margin: 35px;
    
}